*{
    margin: 0;
    padding:0;
    font-family:'Roboto', sans-serif;
}

.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.945) ),url(image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
.content{
    padding-top: 20vh;
    text-align: center;
}
.font-color{
    color: white;
    font-size:30px
}
span{
    font-size:30px;
}
p{
    font-size:18px;
    padding: 30px 0px;
}
.donate{  
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    border-radius: 10px;
    padding: 15px 20px;
}
.donation{
    padding: 40px;
}
#content2,.service-topic{
    text-align: center;
}
.flex{
    display: flex;
}
#donate-bill{
    background-color: aqua;
    margin: 5px 200px;
    box-shadow: 20px 20px 40px rgb(128, 178, 190);
    border-radius: 30px;
    justify-content: space-between;
    padding:15px 60px;
}
 .flex button{
     cursor: pointer;
     height: 70px;
     width: 120px;
     font-size: 20px;
     border: none;
     border-radius:5px;
}
#active{
    background-color: rgb(60, 151, 60);
    border: 3px solid rgb(245, 241, 11);
}
.extra-money{
    text-align: center;
    margin: 10px 0px;
}
.our-plan{
    padding: 20px;
}
#service{
    justify-content: space-between;
}
.box{
    background-color: cornflowerblue;
    margin: 0px 20px;
    padding: 20px 35px;
    box-shadow: 5px 5px 15px rgb(17, 218, 245);;
}
.fuii-width{
    width: 100%;
}
.half-width-section{
    width: 50%;
    margin: 20px;
}
.from-img{
    background-image:url(image/join-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
}
.from{
    background-color: darkgrey;
    border-radius: 5px solid;
}
.public-ad{
    text-align: center;
    padding: 10px;
}
label{
    padding: 10px 10px;
}
.type{
    margin: 10px;
}
input[type=text],select{
    width: 100%;
    display: inline-block;
    padding: 15px 15px;
    box-sizing: border-box;
}
.type button{
    background-color: red;
    width: 100%;
    display: inline-block;
    padding: 15px 15px;
    border: 2px solid;
    box-sizing: border-box;
    margin: 15px auto;
}   
.update{
    padding: 25px;
}
.input-type{
         display: flex;
         justify-content: center;
         background-color: darkseagreen;
         width:400px;
         margin: auto;
         padding: 40px;
         border-radius: 10px;
}
#content2 input,.input-type input{
    width: 350px;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
}
.footer-color{
    background-color: rgb(10, 10, 10);
    padding-top: 20px;
    color: #E2E8E4;
}